Skip to content
This repository
Search
Pull requests
Issues
Gist
 @Tom-Kuhn
 Sign out
 Unwatch 1
  Star 0
 Fork 0 ArtisanCode/artisancode.github.io
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Pulse  Graphs  Settings
Tree: 50db0a230e Find file Copy pathartisancode.github.io/index.html
50db0a2  4 minutes ago
@Tom-Kuhn Tom-Kuhn Attempt to get comment counts
1 contributor
RawBlameHistory     
45 lines (43 sloc)  1.46 KB
---
layout: page
description: "Software craftsmanship by design"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}<br/>
        <a href="{{ post.url | prepend: site.baseurl }}#disqus_thread"></a>
    </p>
    <p>{{ post.excerpt | strip_html }}</p>
    {% for category in post.categories %}
        <a class="btn btn-default btn-sm category-button" href="/categories/#{{ category }}" role="button">
        {% assign categoryNum = site.categories[category].size %}
        {{category}} <span class="badge category-button-badge">{{categoryNum}}</span>
        </a>
    {% endfor %}
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
<script id="dsq-count-scr" src="//artisancode.disqus.com/count.js" async></script>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help