<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">                    
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                                <i class="fa fa-github fa-2x fa-inverse"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                                <i class="fa fa-twitter fa-2x fa-inverse"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                                <i class="fa fa-facebook fa-2x fa-inverse"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.linkedin_url %}
                    <li>
                        <a href="{{ site.linkedin_url }}">
                                <i class="fa fa-linkedin fa-2x fa-inverse"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.stackoverflow_url %}
                    <li>
                        <a href="{{ site.stackoverflow_url }}">
                                <i class="fa fa-stack-overflow fa-2x fa-inverse"></i>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                                <i class="fa fa-rss fa-2x fa-inverse"></i>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}<br/>
                This is an independant website. The views and opinions expressed within this site are those of the author alone and do not necessarily reflect the views and opinions of any organizations affiliated with the respective author.</p>
                <p class="disclaimer text-muted"><a href="{{ site.baseurl }}/sitemap.xml">Sitemap</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
