---
layout: default
---

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-sm-12">

				        {{ content }}
                {% for category in page.categories %}
                  {% assign moreThanOneInCategory = false %}
                  {% assign posts = site.categories[category] %}

                  {% for post in posts %}
                    {% if forloop.length > 1 %}
                      {% assign moreThanOneInCategory = true %}
                    {% endif %}
                  {% endfor %}

                  {% if moreThanOneInCategory == true %}
                    <div class="related-posts">
                      <h4>Related {{ category }} posts</h4>

                      <ul>
                        {% for post in posts %}
                          {% unless post.url == page.url %}
                            <li>
                              {% include postlistitem.html %}
                            </li>
                          {% endunless %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                {% endfor %}
                
                <hr/>
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                    this.page.url = '{{site.url}}{{page.url}}';  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = '{{page._id}}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//artisancode.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                                                
            </div>
        </div>
    </div>
</article>
